{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Confirmación de Pedido</title>
    <link rel="stylesheet" href="{% static 'css/confirmacion_pedido.css' %}">
</head>
<body>
    <div class="container">
        <h1>¡Gracias por tu pedido!</h1>
        <p>Hemos recibido tu pedido y lo estamos procesando. Aquí están los detalles de tu pedido:</p>

        <h2>Detalles del Pedido</h2>
        <div class="pedido-info">
            <h2>Pedido realizado por {{ pedido.nombre_usuario }}</h2>
        <p><strong>ID del Pedido:</strong> {{ pedido.id }}</p>
        <p><strong>Dirección de Entrega:</strong> {{ pedido.direccion_entrega }}</p>
        <p><strong>Fecha del Pedido:</strong> {{ pedido.fecha_pedido }}</p>
        <p><strong>Estado:</strong> {{ pedido.estado }}</p>

        <h3>Artículos del Pedido</h3>
        <ul>
            {% for item in pedido.pedidoitem_set.all %}
                <li>{{ item.menu_item.nombre }} - Cantidad: {{ item.cantidad }} - Precio: ${{ item.menu_item.precio }}</li>
            {% empty %}
                <li>No hay artículos en este pedido.</li>
            {% endfor %}
        </ul>

        {% if pedido.estado != 'cancelado' %}
            <a href="{% url 'cancelar_pedido' pedido.id %}" class="btn btn-danger">Cancelar Pedido</a>
        {% endif %}

        <a href="{% url 'index' %}" class="btn btn-primary">Volver a la Página Principal</a>
    </div>
</body>
</html>
